* {
    box-sizing: border-box;
}

.arena-ctnr {
    position: relative;
    height: 100vh;
    border: 1px solid orange;
}

.field-cards-ctnr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.field-cards-ctnr > div {
    display: inline-block;
}

.drop-ctnr, .deck-ctnr {
    position: relative;
    width: 138px;
    height: 170px;
    text-align: center;
    border: 1px dashed black;
}

.drop-ctnr .card, .deck-ctnr .card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    width: 108px;
    height: 150px;
}

.player-a-ctnr {
    position: absolute;
    width: 100%;
    height: 25vh;
    border: 5px solid purple;
}

.player-b-ctnr {
    position: absolute;
    width: 100%;
    height: 25vh;
    border: 5px solid pink;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

.drop-ctnr > div, .deck-ctnr > div, .player-a-hand > div, .player-b-hand > div {
    display: inline-block;
}

.deck-count {
    font-size: large;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}   